body::-webkit-scrollbar {
    width: 15px;
    
}

body::-webkit-scrollbar-track {
    background-color: #232323;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9); 
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #17a2b8;
    cursor: pointer;
    height: 15%;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); 
}
body::-webkit-scrollbar-corner {
    border-radius: 0.10rem;
    background-color: #17a2b8;
    
}



html,
body {
    height: 100%;
    letter-spacing: 1.5px;
    font-size: 15.5px;
    background-image: url('../img/what-the-hex.png');
    font-family: 'Lato', sans-serif;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    
    
}

.wrap > .container {
    padding: 70px 15px 20px;

}

.container {
    
}

.footer {
    border-top: 1px solid #ddd;
   
}

.logo {
    background-image: url('../img/logo.png');
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.list-group-item {
    font-size: 16px;
}

.list-group-item:hover {
    background-color: #448ef6;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fef4a9;
    border-radius: 5px 5px 5px 5px;

}

.opt-header, .opt2-header, .opt3-header, .opt4-header {
    text-align: center;
    cursor: default;
    color: #343a40;
}

.opt-header:hover {
    transition: 0.2s;
    color: #73A944;

}

.opt2-header:hover {
    transition: 0.2s;
    color: #FA2600;
}

.opt3-header:hover {
    transition: 0.2s;
    color: #FFBD39;
}

.opt4-header:hover {
    transition: 0.2s;
    color: #E61C5D;
}

/*=========================================================================
 This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
 If you need more, that's where to get'em.
 ========================================================================*/

.bg-img-circle {
    background-image: url("../img/circles-and-roundabouts.png");
    background-size: auto;
    height: 100%;
    opacity: 0.8;
    padding: 5%;
    border-radius: 15px 15px 15px 15px;
}

.btn-create {
    text-align: center;
    margin: 50px 0;
}

.art-text {

    font-size: 15px;
    font-weight: 500;
    line-height: 1.5em;
}

.category {
    font-size: 24px;
}

#ul-add {
    list-style: none;
}



#add-arrow::before {
    content: "> ";
    color: #97DE95;
    font-size: 18px;
}

#add-bullet::before {
    content: "• ";
    color: #97DE95;
    font-size: 18px;
}
#add-square::before {
    content: "■ ";
    color: #97DE95;
    font-size: 18px;
}


.frame {
    border: solid 1px rgba(0, 0, 0, 0.4);
    padding: 2%;
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(145, 145, 144, 0.175);
}

div > h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
}

header > h4 {
    color: #080808 !important;
}



.left-img {
    width: 100% !important;
    height: 400px !important;
}

.div::after {
    background-color: white;
    height: 50px;
}

.box {
    background-color: #232323;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.box img {
    opacity: 1;
    transition: 0.5s opacity;
}

.box .box-capt {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 14px;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
}



.box:hover img {
    transition: 0.5s, ease;
    opacity: 0.75;
}

.box:hover .box-capt {
    padding-bottom: 10%;
}



.max-card-img {
    height: 250px;
    width: auto;
}

.list-group > list-group-item {
    float: left !important;
}

.bg-hex {
    background-image: url('../img/what-the-hex.png');

}

.bg-ubuntu {
    background-color: #E95420 !important;
}

.bg-debian {
    background-color: #d70a53 !important;
}

.text-debian {
    color: #d70a53 !important;
}

.li-group-item {
    margin: 30px !important;
}

a:hover {
    text-decoration: none !important;
}


.container-fluid {
    background-image: url('../img/what-the-hex.png');   

}



.image {
    padding-top: 0px !important;
    margin-top: 0px !important;
    background-attachment: fixed;
    background-image: url('../img/palac.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.95;

    height: 500px;
}

#grad {
    background: linear-gradient(to bottom, rgba(47,176,213,0.75), rgba(47,176,231,0.95)) !important;
    border-color: #2aabd2;
}

.footer-a {
    color: #6c757d !important;
}

.fb:hover {
    transition: 0.4s;
    color: #3B5998 !important;
}

.cl:hover {
    transition: 0.4s;
    color: #007bff !important;
}

.zsp:hover {
    transition: 0.4s;
    color: #28a745 !important;
}

.navbar-brand:hover {
    transition: 0.4s;
    color: #0071c5 !important;

}

.window-screen {
    border-radius: .25rem !important;
    padding: 1px 1px;
    border: solid 4px #007bff !important;
}

.window-sreen:hover {
    border-color: #17a2b8 !important;
    opacity: 1 !important;
}

.window-size {
    height: 250px;
}

.navbar-brand {
    font-size: 20px !important;
    font-weight: 600;
        padding-left: 0px !important;
    padding-right: 0px !important
}


.lobster {
    font-family: 'Lobster', cursive !important;
    font-weight: 300;
}

.elementary {
    opacity: 1;

  transition: .5s ease;
 
}

.box-grey:hover .elementary {
    opacity: 0.85;
    transition: 0.3s ease;
}

@media (max-width: 500px) {
    .panel, panel-default {
        background-color: rgba(250,250,250, 0);
        border: 0px;
    }
}